<h1>Products</h1>

<p>Here are all your products:</p>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Product</th>
    <th>Price</th>
    <th>In Stock</th>
  </tr>

  <% @products.each do |product| %>

    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.status %></td>
      <td><a href="/products/<%= product.id() %>/edit">Update</a></td>
    </tr>
  <% end %>

</table>

<p>Add a new product:</p>

<form action='/products' method='post'>
  <label for='name'>Product name</label>
  <input id='name' name='name' type='text'>

  <label for='price'>Price</label>
  <input id='price' name='price' type='number' step="0.01">

  <label for='status'>Is it in stock?</label>
  <input id='status' name='status' type='radio' value ="true">Yes
  <input id='status' name='status' type='radio' value ="false">No

  <button type="submit">Add product</button>
</form>
